@import url("@volvo-cars/css/font-face.css");
@import url("@volvo-cars/css/tokens.css");
@import url("@volvo-cars/css/styles_all-media.css");

body {
  background: var(--v-color-background-primary);
  max-width: 100vw;
  overflow-x: hidden;
}
